/* CONTENT */
body {
  font-family: 'Chivo', sans-serif;
  -webkit-font-smoothing: antialiased;
/*  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.5, #FFFFFF),
    color-stop(0.5, #1F1F1F)
  );
  background-image: -o-linear-gradient(bottom, #FFFFFF 50%, #1F1F1F 50%);
  background-image: -moz-linear-gradient(bottom, #FFFFFF 50%, #1F1F1F 50%);
  background-image: -webkit-linear-gradient(bottom, #FFFFFF 50%, #1F1F1F 50%);
  background-image: -ms-linear-gradient(bottom, #FFFFFF 50%, #1F1F1F 50%);
  background-image: linear-gradient(to bottom, #FFFFFF 50%, #1F1F1F 50%);*/
}

.content {
  letter-spacing: 5px;
  text-align: center;
}

@-webkit-keyframes rise {
  0% {
   margin-top: -140px;
  }

  50% {
    margin-top: -100px;
  }
  
  100% {
    margin-top: -140px;
  }    
}


.circle {
  color: #222;
  border: 20px solid #1F1F1F;
  font-size: 48px;
  background-color: white;
  width: 220px;
  height: 220px;
	border-radius: 50%;
  position: absolute;
  left: 50%; top: 50%;
  margin-top: -120px;
  margin-left: -120px;
  text-align: center;
  line-height: 220px;
  transition: background-color 0.3s ease,
              color 0.3s ease,
              border 0.3s ease;
  -webkit-animation: rise 3s infinite; /* Safari 4+ */
  -moz-animation:    rise 3s infinite; /* Fx 5+ */
  -o-animation:      rise 3s infinite; /* Opera 12+ */
  animation:         rise 3s infinite; /* IE 10+ */
}

.circle:hover {
  background-color: #ffaf3f;
  color: white;
  border: 20px solid #ffaf3f;
}


#cir1, #cir2, #cir3 {
  background-color: #FF9700;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  left: 40%;
}

#cir2 {
  top: 30%;
}

#cir3 {
  top: 60%;
}

#keyhole {
  height: 40px;
  width: auto;
}



