// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Gilda Display', serif;
  background: url('japancity_art_opaque2.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg {
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.7);
}

.logo {
  margin-top: 30px;
  font-family: 'Gilda Display', serif;
  font-size: 28px;
  text-align: center;
  letter-spacing: 3px;
  color: white;
  padding: 80px 50px 80px 50px;
  cursor: none;
  background-color: rgba(0, 0, 0, 0.7);
  transition: background-color 0.5s ease;
  &:hover {
    background-color: #ffc44f;
  }
  &:first-letter {
    font-size: 150px;
  }
}

hr {
  margin-top: -5px;
  border: 1px solid white;
}

.intro {
  text-align: justify;
  margin-top: 30px;
}

.fa {
  font-size: 32px;
  opacity: 0.8;
  margin: 15px;
  transition: color 0.3s ease;
  &:hover {
    color: #ffc44f;
  }
}

.icons {
  text-align: center;
  color: #ffc44f;
}

a {
  color: black;
}